/* -- usage ---
.page-wrap {
  width: 75%;
  @include breakpoint(papa-bear) { width: 60%; }
  @include breakpoint(mama-bear) { width: 80%; }
  @include breakpoint(baby-bear) { width: 95%; }
} */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, div, ul, #contact li a {
  display: block;
  box-sizing: border-box; }

audio, canvas, video {
  display: inline;
  zoom: 1; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html, button, input, select, textarea {
  font-family: sans-serif;
  color: #222; }

body {
  font-size: 1em;
  line-height: 1;
  margin: 0; }

p {
  padding: 7px 0 0; }

h1, h2  {
  text-decoration: none;
  color: #266e9e;
  font-family: Baskerville; 
  font-style: italic;
  /*
  font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 700;
  */
  margin: 0;
  padding: 0; }

h2, h3, h4, h5, h6 {
  color: #266e9e; }

a {
  color: #266e9e;
  text-decoration: none; }

a:focus {
  outline: 0; }

a:hover, a:active {
  outline: 0;
  color: #d31245; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: 700; }

.clear {
  clear: both; }

dfn {
  font-style: italic; }

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #CCC;
  margin: 1em 0;
  padding: 0; }

ins {
  background: #FF9;
  color: #000;
  text-decoration: none; }

mark {
  background: #FF0;
  color: #000;
  font-style: italic;
  font-weight: 700; }

pre, code, kbd, samp {
  font-family: monospace,serif;
  _font-family: 'courier new',monospace;
  font-size: 1em; }

pre {
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: none; }

small {
  font-size: 90%; }

blockquote {
  background-color: #EEE;
  border: 1px solid #DDD;
  border-radius: 3px;
  margin: 10px 0;
  padding: 10px 30px; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

ol {
  margin: 15px; }

dd {
  margin: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle; }

svg:not(:root) {
  overflow: hidden; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

label {
  cursor: pointer; }

legend {
  border: 0;
  margin-left: -7px;
  white-space: normal;
  padding: 0; }

button, input, select, textarea {
  font-size: 100%;
  vertical-align: middle;
  margin: 0; }

button, input {
  line-height: normal; }

button, input[type=button], input[type=reset], input[type=submit] {
  cursor: pointer;
  -webkit-appearance: none;
  overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type=checkbox], input[type=radio] {
  box-sizing: border-box;
  width: 13px;
  height: 13px;
  padding: 0; }

input[type=search] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

input:invalid, textarea:invalid {
  background-color: #F0DDDD; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td {
  vertical-align: top; }

audio:not([controls]), [hidden] {
  display: none; }

figure, form {
  margin: 0; }

@font-face {
  font-family: 'ModernPictogramsNormal';
  src: url("../fonts/modernpics-webfont.eot");
  src: url("../fonts/modernpics-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/modernpics-webfont.woff") format("woff"), url("../fonts/modernpics-webfont.ttf") format("truetype"), url("../fonts/modernpics-webfont.svg#ModernPictogramsNormal") format("svg");
  font-weight: normal;
  font-style: normal; }

h1, h2, h3, h4, h5, h6, p {
  color: #333333; }

html, body {
  margin: 0;
  font-size: 16px;
  font-family: "Verlag", "Avenir", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }

body {
  background: url(../img/body-bg-dot-grid.png) top center; }

i {
  font-family: "ModernPictogramsNormal";
  font-size: 1.9em;
  padding-right: 10px;
  font-style: normal;
  position: relative;
  top: 3px; }

header {
  height: 248px;
  text-align: left;
  background: url(../images/camp.png) center center no-repeat;
  margin-bottom: -138px;
  z-index: 10;
  position: relative;
  padding-top: 32px;
  margin-top: 40px;
}
  header a {
    display: block;
    float: right;
    margin-top: -95px;
    width: 111px;
    height: 101px;
    background: url(../images/rftb.png) no-repeat;
    text-indent: -9000px;
    background-size: 100%;
 }
  header h1 {
    margin: 0;
     }
  header h2 {
    border-bottom: 1px dashed #ccc;
    padding-bottom: 15px; }

.content {
  opacity: 0;
  -webkit-opacity: 0;
  -ms-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

nav {
  font-family: "Blanch-Condensed";
  font-size: 2em;
  font-weight: 200;
  width: 100%;
  float: left;
  background-color: rgba(204, 204, 204, 0.29);
  margin-bottom: 50px; }
  nav ul {
    float: right;
    margin: 9px 0; }
    nav ul li {
      float: left;
      list-style: none;
      margin-left: 13px; }
      nav ul li a {
        text-decoration: none;
        color: #a1a1a1; }

h1 {
  color: #333333;
  margin: 30px 0; }

section {
  clear: both; }

.inner {
  width: 90%;
  margin: 0 auto;
  line-height: 1.5;
  max-width: 760px; }
  .inner h1 {
    clear: both;
    font-size: 2.5em; }
  .inner h2 {
    margin-top: 45px; }
  .inner ul {
    padding-left: 0; }
  .inner a {
    color: #a26b13;
    text-decoration: none;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
    .inner a:hover {
      color: #00aced; }
  .inner code {
    font-family: Andale Mono, Monaco, Courier New, Courier;
    font-size: .9em;
    background-color: #333333;
    color: #fefefe;
    padding: 11px;
    display: block;
    margin: 0 -9px; }

.interior header {
  height: 145px; }
  .interior header a {
    width: 161px;
    height: 161px;
    background-size: 161px;
    margin: 0 25px; }
    @media (min-width: 640px) {
      .interior header a {
        margin: 0 auto; } }

#contact ul {
  list-style: none;
  margin-top: 25px; }
  @media (min-width: 640px) {
    #contact ul li {
      width: 49%;
      float: left;
      margin-right: 1%; } }
  #contact ul li a {
    width: 100%;
    background-color: rgba(243, 243, 243, 0.32);
    display: block;
    padding: 20px;
    margin-bottom: 10px;
    line-height: 1em; }
    #contact ul li a:hover {
      background-color: rgba(220, 220, 220, 0.32); }
    #contact ul li a i {
      color: #333333;
      font-size: 2.9em;
      position: relative;
      top: 8px; }

footer {
  clear: both;
  color: #ccc;
  text-align: center;
  font-size: 12px;
  margin-top: 55px;
  top: 105px;
  float: left;
  width: 100%;
  opacity: 0;
  -webkit-opacity: 0;
  -ms-opacity: 0;
  -moz-opacity: 0;
  -o-opacity: 0;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out; }

/*

Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

*/
pre code {
  display: block;
  padding: 0.5em;
  background: #444; }

pre .keyword,
pre .literal,
pre .change,
pre .winutils,
pre .flow,
pre .lisp .title,
pre .clojure .built_in,
pre .nginx .title,
pre .tex .special {
  color: white; }

pre code,
pre .subst {
  color: #DDD; }

pre .string,
pre .title,
pre .haskell .type,
pre .ini .title,
pre .tag .value,
pre .css .rules .value,
pre .preprocessor,
pre .ruby .symbol,
pre .ruby .symbol .string,
pre .ruby .class .parent,
pre .built_in,
pre .sql .aggregate,
pre .django .template_tag,
pre .django .variable,
pre .smalltalk .class,
pre .javadoc,
pre .ruby .string,
pre .django .filter .argument,
pre .smalltalk .localvars,
pre .smalltalk .array,
pre .attr_selector,
pre .pseudo,
pre .addition,
pre .stream,
pre .envvar,
pre .apache .tag,
pre .apache .cbracket,
pre .tex .command,
pre .prompt {
  color: #D88; }

pre .comment,
pre .java .annotation,
pre .python .decorator,
pre .template_comment,
pre .pi,
pre .doctype,
pre .deletion,
pre .shebang,
pre .apache .sqbracket,
pre .tex .formula {
  color: #777; }

pre .keyword,
pre .literal,
pre .title,
pre .css .id,
pre .phpdoc,
pre .haskell .type,
pre .vbscript .built_in,
pre .sql .aggregate,
pre .rsl .built_in,
pre .smalltalk .class,
pre .diff .header,
pre .chunk,
pre .winutils,
pre .bash .variable,
pre .apache .tag,
pre .tex .special,
pre .request,
pre .status {
  font-weight: bold; }

pre .coffeescript .javascript,
pre .javascript .xml,
pre .tex .formula,
pre .xml .javascript,
pre .xml .vbscript,
pre .xml .css,
pre .xml .cdata {
  opacity: 0.5; }
